In [79]:
import pandas as pd
import numpy as np
df=pd.read_csv(r'~/Desktop/Ironhack/Week_1_Lab/lab-customer-analysis-round-2/files_for_lab/csv_files/marketing_customer_analysis.csv')

Show the dataframe shape.

In [80]:
df.shape

(10910, 26)

Standardize header names.

In [81]:
df.columns = map(lambda x : x.replace(" ", "_"), df.columns)

Which columns are numerical?

In [82]:
num_cols = df._get_numeric_data().columns

In [83]:
list(set(num_cols))

['Months_Since_Policy_Inception',
 'Number_of_Open_Complaints',
 'Unnamed:_0',
 'Monthly_Premium_Auto',
 'Number_of_Policies',
 'Months_Since_Last_Claim',
 'Total_Claim_Amount',
 'Income',
 'Customer_Lifetime_Value']

Which columns are categorical?

In [84]:
list(set(df.columns) - set(num_cols))

['Vehicle_Class',
 'Location_Code',
 'Gender',
 'EmploymentStatus',
 'Renew_Offer_Type',
 'Policy',
 'Education',
 'Vehicle_Type',
 'Policy_Type',
 'Customer',
 'State',
 'Marital_Status',
 'Response',
 'Sales_Channel',
 'Vehicle_Size',
 'Effective_To_Date',
 'Coverage']

Check and deal with NaN values.

In [85]:
df_NaN_sum=df.isnull().sum()
df_NaN_sum

Unnamed:_0                          0
Customer                            0
State                             631
Customer_Lifetime_Value             0
Response                          631
Coverage                            0
Education                           0
Effective_To_Date                   0
EmploymentStatus                    0
Gender                              0
Income                              0
Location_Code                       0
Marital_Status                      0
Monthly_Premium_Auto                0
Months_Since_Last_Claim           633
Months_Since_Policy_Inception       0
Number_of_Open_Complaints         633
Number_of_Policies                  0
Policy_Type                         0
Policy                              0
Renew_Offer_Type                    0
Sales_Channel                       0
Total_Claim_Amount                  0
Vehicle_Class                     622
Vehicle_Size                      622
Vehicle_Type                     5482
dtype: int64

In [86]:
j=0
for i in range(len(df.columns)):
    if(df_NaN_sum[i]>0):
        print(df.columns[i])

State
Response
Months_Since_Last_Claim
Number_of_Open_Complaints
Vehicle_Class
Vehicle_Size
Vehicle_Type

In [87]:
df['State'].fillna('Not_Listed',inplace=True)
df['Response'].fillna('No',inplace=True)
df['Months_Since_Last_Claim'].fillna(df['Months_Since_Last_Claim'].median,inplace=True)
df['Number_of_Open_Complaints'].fillna(df['Number_of_Open_Complaints'].mode,inplace=True)

In [90]:
df['Vehicle_Class'].fillna(df['Vehicle_Class'].mode,inplace=True)
df['Vehicle_Size'].fillna(df['Vehicle_Size'].mode,inplace=True)

Vehicle_Type has the most missing data of all collumns. For Vehicle Type, are vehicles listed have class A. **It is likely that not entering the type representws a second type**. It is also a possibility that it is a systematic mistake and vehicles are all type A. We need more information. Untill then, they are saved as Not_Listed

In [91]:
df['Vehicle_Type'].fillna('Not_Listed',inplace=True)

In [92]:
df_NaN_sum=df.isnull().sum()
df_NaN_sum

Unnamed:_0                       0
Customer                         0
State                            0
Customer_Lifetime_Value          0
Response                         0
Coverage                         0
Education                        0
Effective_To_Date                0
EmploymentStatus                 0
Gender                           0
Income                           0
Location_Code                    0
Marital_Status                   0
Monthly_Premium_Auto             0
Months_Since_Last_Claim          0
Months_Since_Policy_Inception    0
Number_of_Open_Complaints        0
Number_of_Policies               0
Policy_Type                      0
Policy                           0
Renew_Offer_Type                 0
Sales_Channel                    0
Total_Claim_Amount               0
Vehicle_Class                    0
Vehicle_Size                     0
Vehicle_Type                     0
dtype: int64

Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. Hint: If data from March does not exist, consider only January and February.

In [94]:
df['Effective_To_Date']

0        2/18/11
1        1/18/11
2        2/10/11
3        1/11/11
4        1/17/11
          ...
10905    1/19/11
10906     1/6/11
10907     2/6/11
10908    2/13/11
10909     1/8/11
Name: Effective_To_Date, Length: 10910, dtype: object

In [111]:
dates=pd.to_datetime(df['Effective_To_Date'])
dates

0       2011-02-18
1       2011-01-18
2       2011-02-10
3       2011-01-11
4       2011-01-17
           ...
10905   2011-01-19
10906   2011-01-06
10907   2011-02-06
10908   2011-02-13
10909   2011-01-08
Name: Effective_To_Date, Length: 10910, dtype: datetime64[ns]

In [125]:
for i in range (len(dates)):
    months[i]=np.datetime64(dates[i]).astype(object).month

In [128]:
months.values

array([2, 1, 2, ..., 2, 2, 1])

In [131]:
df['Month']=months
df['Month']

0        2
1        1
2        2
3        1
4        1
        ..
10905    1
10906    1
10907    2
10908    2
10909    1
Name: Month, Length: 10910, dtype: int64

In [138]:
df_first_quarter=df[(df['Month']<4)]

In [139]:
df_first_quarter.iloc[:,4:8]

      Response  Coverage Education Effective_To_Date
0           No     Basic   College           2/18/11
1           No     Basic   College           1/18/11
2           No     Basic  Bachelor           2/10/11
3          Yes  Extended   College           1/11/11
4           No   Premium  Bachelor           1/17/11
...        ...       ...       ...               ...
10905       No   Premium  Bachelor           1/19/11
10906       No     Basic   College            1/6/11
10907       No  Extended  Bachelor            2/6/11
10908       No   Premium   College           2/13/11
10909       No     Basic  Bachelor            1/8/11

[10910 rows x 4 columns]